<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha aplicação</title>
</head>
<body>
    <header>
        <h2>Este é um header</h2>
    </header>

    <aside>
        <h5>Área lateral esquerda</h5>
    </aside>

    <section>
        {{{body}}}
    </section>

    <aside>
        <h5>Área lateral direita</h5>
    </aside>

    <footer>
        <p>Footer da aplicação</p>
    </footer>
</body>
</html>